modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
ADMIN_USER = "eduardorodrigues14"
TEAM_USER = "colaboradores"
META_AD_ACCOUNT = "act_654132083965752"
CHATGURU_BASE_URL = "https://s22.chatguru.app/api/v1"
CHATGURU_ACCOUNT_ID = "68556125935dd1f4daa66113"
CHATGURU_PHONE_ID = "685583d868af7cad8a92d601"
CHATGURU_SENDER_NUMBER = "5581999304526"
CHATGURU_API_KEY = "ADXKASEXXTAKDOB1DOR5A1J5OS0Q84GTIO59BAZGEX5DOV4XDQO528FLKHFY7CJJ"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "index.js"]
